{% extends 'accounts/base.html'%}
{% block content%}

{% ifequal error 'no'%}
<script>
	alert("password changed successully..!");
	window.location=('{%url 'signout'%}')
</script>
{% endifequal%}

{% ifequal error 'yes'%}
<script>
	alert("password doesn't match");
</script>
{% endifequal%}

<div class="container-fluid card col-md-4 mt-5" style="background-color: lightyellow">
	<h1 class="text-center">ChangePassword</h1>

	<form action="#" method="POST">
		{% csrf_token %}
		<b>
			<div class="form-group">
				<label for="oldpwd">OldPassword:</label>
				<input type="password" class="form-control" name="oldpwd" placeholder="Enter OldPassword" id="oldpwd" required="true">
			</div>

			<div class="form-group">
				<label for="newpwd">NewPassword:</label>
				<input type="password" class="form-control" name="newpwd" placeholder="Enter NewPassword" id="newpwd" required="true">
			</div>

			<div class="form-group">
				<label for="conpwd">CifrimPassword:</label>
				<input type="password" class="form-control" name="conpwd" placeholder="re-enter Password" id="conpwd" required="true">
			</div></b>

			<div class="text-center">
				<input type="submit" value="Change" class="btn btn-outline-warning btn-lg">
			</div>
		</form>
	</div>
{% endblock %}