{% extends 'index.html' %}
{% block foo %}
<div class="container">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</a>
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
<table class="table table-bordered">
    <thead >
        <th>Name of the student </th>
        <th> Email Id </th>
        <th> Phone Number </th>
        <th> Age </th>
    <th>Operations</th>
    </thead>
    <tbody>
    {% for i in data %}
    <tr>
    <td>{{ i.student_name }}</td>
    <td>{{ i.email }}</td>
    <td>{{ i.phone_num }}</td>
    <td>{{ i.age }}</td>
        <td><a href="{% url 'edit' i.id %}" class="btn btn-info" >Edit</a>
            <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a>

    </tr>
{% endfor %}
    </tbody>
</div>
</table>
{% endblock %}
